In [66]:
import pycaret
import pandas as pd
from pycaret.regression import *

In [67]:
data = pd.read_csv("../input/knnimputer_db.csv")

# Pycaret

In [68]:
s = setup(data=data, target="Strength",session_id=123,fold=5)

In [5]:
best = compare_models(include=['lr','lasso','ridge','et','gbr','ada','rf','xgboost','lightgbm','knn'])
pull()

Initiated  . . . . . . . . . . . . . . . . . .              17:05:15
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

,Model,MAE,MSE,RMSE,R2,RMSLE,MAPE,TT (Sec)
et,Extra Trees Regressor,119.8303,28410.7092,161.9229,0.5913,0.3133,0.2752,0.028
gbr,Gradient Boosting Regressor,124.7077,29135.7768,167.0241,0.5803,0.3218,0.2892,0.018
ada,AdaBoost Regressor,136.1970,28925.9527,167.6332,0.5655,0.3269,0.3014,0.016
rf,Random Forest Regressor,133.3532,29474.2092,165.8683,0.5653,0.3208,0.3025,0.032
xgboost,Extreme Gradient Boosting,133.4836,32732.1078,178.8402,0.5349,0.3430,0.2970,0.014
lightgbm,Light Gradient Boosting Machine,175.9830,49802.5587,220.8023,0.3039,0.4408,0.4181,0.012
knn,K Neighbors Regressor,186.5419,53646.0750,229.7407,0.1837,0.4370,0.4088,0.008
ridge,Ridge Regression,209.4538,65374.2930,252.9035,0.0965,0.5763,0.4915,0.010
lasso,Lasso Regression,208.9702,68585.3941,256.9909,0.0582,0.5471,0.4958,0.156
lr,Linear Regression,213.1138,73501.7852,263.9504,-0.0060,0.5138,0.5072,0.294

In [6]:
print(best)

ExtraTreesRegressor(n_jobs=-1, random_state=123)

# Ordinary Linear Regression

In [7]:
lr = create_model('lr',return_train_score=True)
pull()

Initiated  . . . . . . . . . . . . . . . . . .              17:06:35
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

                    MAE          MSE      RMSE      R2   RMSLE    MAPE
Split    Fold
CV-Train 0     166.9282   42179.3047  205.3760  0.4516  0.4365  0.3923
         1     179.0598   47590.4609  218.1524  0.4157  0.4732  0.4362
         2     148.9986   35462.3438  188.3145  0.4933  0.4024  0.3550
         3     153.7073   38442.5586  196.0677  0.4790  0.5132  0.3631
         4     158.7043   41461.1797  203.6202  0.3969  0.4264  0.3837
CV-Val   0     197.3547   57637.8008  240.0787  0.0816  0.5734  0.4893
         1     132.5858   31336.2617  177.0205  0.2864  0.3369  0.2911
         2     251.8314   92930.6641  304.8453 -0.0245  0.5746  0.6234
         3     276.2276  127959.6641  357.7145 -0.7565  0.6391  0.6869
         4     207.5695   57644.5352  240.0928  0.3829  0.4452  0.4452
CV-Train Mean  161.4796   41027.1695  202.3062  0.4473  0.4503  0.3861
         Std    10.6079    4055.6152    9.9693  0.0365  0.0388  0.0284
CV-Val   Mean  213.1138   73501.7852  263.9504 -0.0060  0.5138  0.5072
         Std    49.4899   33538.6096   61.9031  0.4020  0.1086  0.1390
Train    NaN   166.8597   43305.7734  208.1004  0.4169  0.4462  0.3986

## Optimization

In [12]:
tuned_lr = tune_model(lr,return_train_score=True)
pull()

Fitting 5 folds for each of 2 candidates, totalling 10 fits

                    MAE         MSE      RMSE      R2   RMSLE    MAPE
Split    Fold
CV-Train 0     169.3098  43169.0859  207.7717  0.4387  0.4290  0.3973
         1     180.9721  48548.4453  220.3371  0.4039  0.4591  0.4393
         2     153.8202  37024.9766  192.4187  0.4710  0.3959  0.3611
         3     168.2905  41669.8711  204.1320  0.4353  0.4317  0.3895
         4     159.9181  41896.2148  204.6857  0.3906  0.4199  0.3849
CV-Val   0     203.3675  59541.6211  244.0115  0.0513  0.5464  0.5008
         1     140.4336  33907.0039  184.1385  0.2278  0.3402  0.2929
         2     236.4627  89277.1875  298.7929  0.0158  0.5567  0.5803
         3     250.4132  94721.0234  307.7678 -0.3002  0.9363  0.6562
         4     212.5257  60889.9219  246.7588  0.3482  0.4518  0.4486
CV-Train Mean  166.4621  42461.7188  205.8690  0.4279  0.4271  0.3944
         Std     9.2156   3689.2707    8.9249  0.0283  0.0204  0.0255
CV-Val   Mean  208.6405  67667.3516  256.2939  0.0686  0.5663  0.4958
         Std    37.9845  22138.6914   44.5059  0.2203  0.2008  0.1235
Train    NaN   169.5090  44390.1602  210.6897  0.4023  0.4330  0.4021

In [13]:
print(tuned_lr)

LinearRegression(fit_intercept=False, n_jobs=-1)

# Et

In [97]:
ada = create_model('ada',return_train_score=True)

Initiated  . . . . . . . . . . . . . . . . . .              11:53:42
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [98]:
pull()

                    MAE         MSE      RMSE      R2   RMSLE    MAPE
Split    Fold
CV-Train 0      71.9132   8236.6054   90.7557  0.8929  0.2177  0.1758
         1      94.2258  13826.7286  117.5871  0.8302  0.2877  0.2468
         2      63.8838   5978.7717   77.3225  0.9146  0.1838  0.1492
         3      81.0105   9304.1854   96.4582  0.8739  0.2054  0.1750
         4      80.9915   9926.2159   99.6304  0.8556  0.2333  0.1943
CV-Val   0     154.7607  33252.0341  182.3514  0.4702  0.3496  0.3229
         1     134.7845  30239.4233  173.8949  0.3114  0.2770  0.2277
         2     171.7302  42708.3695  206.6600  0.5292  0.4273  0.4369
         3     126.9205  23762.9484  154.1524  0.6738  0.3838  0.3499
         4      92.7889  14666.9882  121.1073  0.8430  0.1968  0.1694
CV-Train Mean   78.4049   9454.5014   96.3508  0.8734  0.2256  0.1882
         Std    10.1665   2566.1429   13.0777  0.0292  0.0350  0.0326
CV-Val   Mean  136.1970  28925.9527  167.6332  0.5655  0.3269  0.3014
         Std    26.7564   9384.7736   28.7239  0.1810  0.0816  0.0938
Train    NaN    84.2198  10766.7065  103.7627  0.8550  0.2384  0.1968

In [100]:
print(ada)

AdaBoostRegressor(random_state=123)

In [102]:
tuned_model, tuner = tune_model(ada,return_train_score=True,return_tuner=True, choose_better=True)

Fitting 5 folds for each of 10 candidates, totalling 50 fits

In [103]:
pull()

                    MAE         MSE      RMSE      R2   RMSLE    MAPE
Split    Fold
CV-Train 0      77.6240   9288.8322   96.3786  0.8792  0.2132  0.1702
         1      79.5294   9682.6862   98.4006  0.8811  0.2391  0.1916
         2      69.0179   6634.6793   81.4535  0.9052  0.1960  0.1577
         3      68.9732   7941.6946   89.1162  0.8924  0.1721  0.1322
         4      82.3682  10470.3106  102.3245  0.8477  0.2376  0.1901
CV-Val   0     155.7177  32317.3658  179.7703  0.4851  0.3445  0.3050
         1      97.6536  19536.1377  139.7717  0.5551  0.1956  0.1598
         2     180.4798  43484.0191  208.5282  0.5206  0.4349  0.4506
         3     119.7492  22170.6217  148.8980  0.6957  0.3808  0.3341
         4      78.1066  12149.9112  110.2266  0.8699  0.1597  0.1245
CV-Train Mean   75.5025   8803.6406   93.5347  0.8811  0.2116  0.1684
         Std     5.5234   1358.9161    7.4095  0.0191  0.0255  0.0221
CV-Val   Mean  126.3414  25931.6111  157.4390  0.6253  0.3031  0.2748
         Std    37.3818  10898.1399   33.8316  0.1417  0.1070  0.1193
Train    NaN    84.1191  10712.6649  103.5020  0.8558  0.2277  0.1861

In [104]:
print(tuned_model)

AdaBoostRegressor(learning_rate=0.3, loss='square', n_estimators=220,
                  random_state=123)

In [105]:
print(tuner)

RandomizedSearchCV(cv=KFold(n_splits=5, random_state=None, shuffle=False),
                   estimator=Pipeline(memory=FastMemory(location=/var/folders/zl/0855x5b97yl88k0wt308xr580000gn/T/joblib),
                                      steps=[('numerical_imputer',
                                              TransformerWrapper(include=['PyC',
                                                                          'SiC',
                                                                          'BN',
                                                                          'Fabrication '
                                                                          'Temperature ',
                                                                          'Overall '
                                                                          'Interphase '
                                                                          'thickness',
                                                                          'Fiber '
                                                                          'Density',
                                                                          'Fiber '
                                                                          'Volume '
                                                                          'Fractions...
                   param_distributions={'actual_estimator__learning_rate': [1e-07,
                                                                            1e-06,
                                                                            0.0001,
                                                                            0.001,
                                                                            0.01,
                                                                            0.0005,
                                                                            0.005,
                                                                            0.05,
                                                                            0.1,
                                                                            0.15,
                                                                            0.2,
                                                                            0.3,
                                                                            0.4,
                                                                            0.5],
                                        'actual_estimator__loss': ['linear',
                                                                   'square',
                                                                   'exponential'],
                                        'actual_estimator__n_estimators': [10,
                                                                           20,
                                                                           30,
                                                                           40,
                                                                           50,
                                                                           60,
                                                                           70,
                                                                           80,
                                                                           90,
                                                                           100,
                                                                           110,
                                                                           120,
                                                                           130,
                                                                           140,
                                                                           150,
                                                                           160,
                                                                           170,
                                                                           180,
                                                                           190,
                                                                           200,
                                                                           210,
                                                                           220,
                                                                           230,
                                                                           240,
                                                                           250,
                                                                           260,
                                                                           270,
                                                                           280,
                                                                           290,
                                                                           300]},
                   random_state=123, refit=False, scoring='r2', verbose=1)

In [65]:
predict_model(tuned_model)

,PyC,SiC,BN,Fabrication Temperature,Overall Interphase thickness,Fiber Density,Fiber Volume Fractions,Fiber Radius,Fiber Modulus,Strain,Tensile Testing Temperature,Strength,prediction_label
8,1,0,0,637.599976,1400.0,2.830,0.2180,7.70,165.0,0.616,800.0,436.000000,655.235651
69,1,0,0,1200.000000,400.0,2.830,0.4360,5.80,325.0,1.340,25.0,454.000000,423.777698
50,0,0,1,94.000000,1000.0,2.350,0.2400,5.50,170.0,0.446,25.0,459.390015,470.667098
28,0,0,1,94.000000,1000.0,2.740,0.2800,7.00,270.0,0.446,25.0,456.970001,530.439238
62,0,0,0,1200.000000,400.0,2.980,0.2300,6.00,140.0,0.650,25.0,213.000000,185.396945
0,1,0,0,1000.000000,35.0,2.830,0.4360,6.00,325.0,0.200,900.0,950.000000,653.550539
5,0,0,0,1000.000000,466.0,2.980,0.4600,6.50,319.0,0.610,25.0,1061.000000,878.562058
82,3,2,0,1000.000000,150.0,2.980,0.4400,6.50,372.0,0.630,25.0,880.000000,977.208467
77,0,2,2,456.399994,600.0,2.854,0.1850,6.50,380.0,0.260,580.0,825.000000,793.552325
4,1,0,0,637.599976,100.0,2.830,0.5800,5.80,325.0,0.616,355.0,556.200012,730.866571
23,0,0,1,94.000000,1000.0,2.740,0.1700,7.00,270.0,0.446,25.0,427.880005,408.711226
84,1,0,0,1000.000000,200.0,2.830,0.3000,5.80,325.0,0.600,355.0,350.000000,755.668555
60,0,0,0,1200.000000,400.0,2.980,0.2300,6.00,140.0,0.580,25.0,148.000000,187.863337
59,0,0,0,1200.000000,400.0,2.980,0.2300,6.00,140.0,0.606,25.0,445.600006,186.959981
24,0,0,1,94.000000,1000.0,2.740,0.1900,7.00,270.0,0.446,25.0,466.670013,481.957067
42,0,0,1,94.000000,1000.0,3.100,0.2400,6.00,400.0,0.446,25.0,706.669983,617.847308
89,1,0,0,1300.000000,150.0,2.500,0.4500,5.80,325.0,0.683,355.0,502.600006,489.173859
38,0,0,1,94.000000,1000.0,3.100,0.2200,6.00,400.0,0.446,25.0,275.149994,562.166585
81,3,2,0,1000.000000,150.0,3.100,0.4300,3.50,387.0,0.150,25.0,600.000000,878.113400
76,0,1,2,456.399994,600.0,2.854,0.1950,6.50,380.0,0.260,580.0,820.000000,793.650566
35,0,0,1,94.000000,1000.0,3.100,0.1100,6.00,400.0,0.446,25.0,253.330002,543.388447
74,0,2,2,1100.000000,2300.0,2.290,0.2442,6.00,224.0,1.640,580.0,630.900024,498.422720
19,1,0,0,1000.000000,150.0,3.010,0.4300,5.00,312.0,0.210,355.0,680.000000,730.932882
29,0,0,1,94.000000,1000.0,2.740,0.2600,7.00,270.0,0.446,25.0,643.640015,556.840710
31,0,0,1,94.000000,1000.0,2.740,0.4300,7.00,270.0,0.446,25.0,677.580017,596.359985
90,1,0,0,1300.000000,150.0,2.500,0.4500,5.80,325.0,0.642,355.0,507.799988,492.151723
79,1,0,0,1000.000000,150.0,3.100,0.4300,3.50,387.0,0.380,25.0,855.000000,869.957991
9,1,1,0,637.599976,400.0,2.830,0.1600,5.80,325.0,0.616,25.0,317.000000,580.380126
56,0,0,1,1100.000000,3500.0,2.900,0.4500,6.17,280.0,0.446,25.0,283.010010,304.920404
41,0,0,1,94.000000,1000.0,3.100,0.2400,6.00,400.0,0.446,25.0,774.549988,617.847308

In [93]:
bagged_ada = ensemble_model(et, choose_better=True)

Initiated  . . . . . . . . . . . . . . . . . .              11:48:06
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

In [94]:
lr = create_model('lr')
et = create_model('dt')
ada = create_model('ada')

Initiated  . . . . . . . . . . . . . . . . . .              11:49:05
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library

Processing:   0%|          | 0/4 [00:00<?, ?it/s]

In [95]:
blender = blend_models([lr, et, ada])

Initiated  . . . . . . . . . . . . . . . . . .              11:49:23
Status     . . . . . . . . . . . . . . . . . .  Loading Dependencies
Estimator  . . . . . . . . . . . . . . . . . .     Compiling Library